/* Mobile design */

@media screen and (max-width:576px) {
  :root {
    --base-font-size: 13px;
  }
    header{
        height: 100%;
        margin-bottom: 100px;
    }
  nav{
    flex-direction: column;
    text-align: center;
    gap: 30px;
  }
  .nav-bar{
    flex-direction: column;
  }
  .banner-btn{
    flex-direction:column;

  }
  .vision{
    flex-direction: column;
  
    margin: 0 auto;
    top: 30px;
    
  }
  .vision-item{
    width: 100%;
    margin-bottom: 20px;
  }
}

/* Tab design */

@media screen and (min-width:577px) and (max-width:900px) {
  :root {
    --base-font-size: 15px;
  }
    header{
    height: 100%;
    }
    .vision{
      flex-direction: column;
      bottom: -30px;
      margin: 0 auto;
      
    }
    .vision-item{
      width: 100%;
      margin-bottom: 20px;
    }
}
@media screen and (min-width:901px) and (max-width:1000px){
    header{
        height: 600px;
    }
}