/* Common design */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
:root {
  --base-font-size: 16px;
}
.title {
  color: var(--text-color, #252b42);
  font-size: calc(var(--base-font-size) * 2.3);
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.2px;
}
.low-title{
  color: #252B42;
font-size:calc(var(--base-font-size) * 1) ;
font-weight: 700;
line-height: 24px; /* 150% */
letter-spacing: 0.1px;
margin-bottom: 10px;
}
.description {
  color: #737373;
  font-size: calc(var(--base-font-size) * 0.875);
  font-weight: 500;
  line-height: 20px; /* 142.857% */
  letter-spacing: 0.2px;
}
.orange{
    background-color:  #FFA62B; ;
}
.not-full-display{
    width: 75vw;
    margin:0px auto;
}

main{
  background: #fff;
}
/* header started */
.header-section{
  padding-bottom: 300px;
}
header {
  padding-top: 20px;
  padding-bottom: 50px;
  background: url(imgae/cover.png), lightgray 50% / cover no-repeat;
  background-repeat: no-repeat;
  height: 100vh;
  
}
.nav-logo {
  color: #252b42;
  font-size: calc(var(--base-font-size) * 1.8);
  font-weight: 700;
  line-height: 22px; /* 133.333% */
  letter-spacing: 0.1px;
}
nav {
  display: flex;
  justify-content: space-between;

}
.nav-bar {
  list-style: none;
  display: flex;
  justify-content: space-around;
  gap: 21px;
  color: black;
  font-weight: 700;
  font-size:calc(var(--base-font-size) * 1.2) ;
}
.banner{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    gap: calc(var(--base-font-size) * 2.18);
}
.banner-title {
  color: #252b42;
  font-size: calc(var(--base-font-size) * 3.5);
  font-weight: 800;
  line-height: 70px; /* 137.931% */
  letter-spacing: 0.2px;
}
.banner-description{
    color: #737373;
font-size:calc(var(--base-font-size) * 1.2);
font-weight: 500;
line-height: 25px; 
letter-spacing: 0.2px;
}
.banner-btn{
    display: flex;
    gap: 20px;
}
.banner-btn .btn-1 , .banner-btn .btn-2{
padding: calc(var(--base-font-size) * 0.6) calc(var(--base-font-size) * 2.2) ;
color:  #FFF;
font-size:calc(var(--base-font-size) * 0.8);
font-weight: 700;
line-height: 28px; 
letter-spacing: 0.2px;
border-radius: 37px;
}
.banner-btn .btn-2{
border: 2px solid #00A0C1;
color: #00A0C1;
}
/* header finished */

/* vision started */
.vision{
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
  gap: 10px;
  position: relative;
 top: 80px;
  
}
.vision-item{
  background-color: #fff;
  padding:calc(var(--base-font-size) * 2) calc(var(--base-font-size) * 2.2) ;
  border: none;
   display: flex;
   flex-direction: column;
   gap:calc(var(--base-font-size) * 0.6) ;
   width: 300px;
   box-shadow: 0px 13px 19px 0px rgba(0, 0, 0, 0.2);
}
.vision-item img{
  width: calc(var(--base-font-size) * 2.7);
}
.vision-title{
  font-size: calc(var(--base-font-size) * 1.5);
}
.another-vision-item{
  background:  #00A0C1; 
}
.another-vision-item .vision-title,.another-vision-item .description{
  color: white;
}


/* vision finished */

/* facts section started */

.facts-section{
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.facts-container{

  display: flex;
  justify-content: space-between;
  margin: 70px auto;
  align-items: center;
  gap: 20px;

}
.facts-card{
  display: flex;
  width: 230px;
  padding: 30px 40px;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  height: 209px;
  border: 2px solid #fff;
  box-shadow: 0px 13px 19px 0px rgba(0, 0, 0, 0.15);

}
.facts-card img{
  width:40px;

}



/* facts section finished */

/*Advice section started */
.advice-section{
  text-align: center;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.advice-container{
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
  
}
.advice-card{
  width: 230px;
  text-align: start;
  border: 2px solid #fff;
  box-shadow: 0px 13px 19px 0px rgba(0, 0, 0, 0.15);
  padding: 5px;
}
.card-text{
  padding: 30px;
}
.advice-card img{
  width: 100%;
  display: block;
  margin: 0 auto;
}

/*Advice section finished */

/* calc(var(--base-font-size) * 1.2) */